module.exports = {
  port: 9443,
  image_maxsize: 1048576*1024, //1GiB

  key_path: 'server.key',
  cert_path: 'server.crt',

  db_host: 'localhost',
  db_user: 'ulinux',
  db_pass: 'ulinux',
  db_database: 'ulinux',

  update_server: 'localhost:8443',
  update_server_cert: 'update_server.crt',
  update_server_ss_token: '',

  dev_token: '',
  };
