module.exports = {
  port: 9443,
  image_maxsize: 1048576*1024, //1GiB

  key_path: 'server.key',
  cert_path: 'server.crt',

  db_host: 'localhost',
  db_user: 'ulinux',
  db_pass: 'ulinux',
  db_database: 'ulinux',

  update_server: 'localhost:8443',
  update_server_ca_cert: 'update_server_ca.crt',
  update_server_ss_token: '',

  logs: {
    file: 'ss.log',
    file_level: 'info', // Winston logger levels
    console_level: 'info',
  },

  image: {
    signing_privkey: 'signing_privkey.pem',
    signing_pubkey: 'signing_pubkey.pem',
  },
};
